@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff8c42;
  --color-secondary: #00a9e0;
  --color-base-200: #ffdd56;
  --color-base-300: #f4f4f4;
  --color-accent: #58d68d;
}